<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <style>
            .tab-head {
            display: flex;
            padding-left: 0!important;
            list-style: none;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            .tab-head li {
            border-bottom: 2px solid #ccc;
            width: calc(100% / 3);
            }
            .tab-head li:hover {
            background: #f5f5f5;
            }
            .tab-head li.active {
            border-bottom: 2px solid #1867c0;
            background: #ebf4ff;
            }
            .tab-head li button {
            padding: 12px 0;
            width: 100%;
            }
            .tab-body {
            padding: 16px 0;
            text-align: center;
            }
            .tab1,
            .tab2,
            .tab3 {
            padding: 12px;
            color: #fff;
            }
            .tab1 {
            background: #1867c0;
            }
            .tab2 {
            background: #4caf50;
            }
            .tab3 {
            background: #ff5252;
            }

            /*空港検索*/
            .form-name,.form-phone,.form-email{
            width:80%;
            margin:0 auto;
            padding:15px 0;
            margin-bottom:30px;
            background-color:whitesmoke;
            }

            input{
            padding:5px 10px;
            min-width:300px;
            border: 4px solid;
            border-radius: 8px; 
            }

            .title{
              text-align: center;
            }

            #searchForm{
              text-align: center;
              margin-right: auto;
              margin-left: auto;
              max-width:400px;
            }

            .tabs{
              padding: 0.5em 1em;
               margin-top: 5px;
               margin-bottom: 1em;
               color: #5d627b;
               background: white;
               background-color: white;
               box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            }
            
            .radioButton{
              display:none;
            }

            .radioButtonLabel{
              margin-right: 50px;
              cursor: pointer;
            }

            .radioButton:checked + .radioButtonLabel{
              color: #5bc8ac;
              font-weight: bold;
            }

            /*（・）を消す処理*/
            ul {
              list-style: none;
            }

            


        </style>

        </head>
        <body>
        <div class ="title">
            
            <!-- <img src ="forecasterLogo.PNG"> -->
        </div>

        <div id="app">
          <v-app>
            <v-app-bar color="primary" dark app>
            <h1>Forecaster☂</h1>
            <v-spacer></v-spacer>
            <small id="realtime"></small>
  
            

            <v-toolbar-items>
                <v-btn　text >
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
            </v-toolbar-items>
                
            <v-toolbar-items>
                <v-btn　text>
                    <v-icon>mdi-map-marker-radius</v-icon>
                </v-btn>
            </v-toolbar-items>

            <v-toolbar-items>
                <v-btn　text>
                    <v-icon>mdi-email</v-icon>
                </v-btn>
            </v-toolbar-items>
            

            </v-app-bar>

            <br><br><br>

            
            <v-container>
            <ul class="tab-head">

              <li :class="{ active: activeTab == 1 }">
                <button @click="tabChange(1)">天気図</button>
              </li>

              <li :class="{ active: activeTab == 2 }">
                <button @click="tabChange(2)">雨雲レーダー</button>
              </li>

              <li :class="{ active: activeTab == 3 }">
                <button @click="tabChange(3)">気象衛星</button>
              </li>

              <li :class="{ active: activeTab == 4 }">
                <button @click="tabChange(4)">モデル予報</button>
              </li>

              <li :class="{ active: activeTab == 5 }">
                <button @click="tabChange(5)">METAR</button>
              </li>

              <li :class="{ active: activeTab == 6 }">
                <button @click="tabChange(6)">飛行場時系列予報</button>
              </li>

              <li :class="{ active: activeTab == 7 }">
                <button @click="tabChange(7)">下層悪天予想図</button>
              </li>

              <li :class="{ active: activeTab == 8 }">
                <button @click="tabChange(8)">ライブカメラ</button>
              </li>

            </ul>
            <div class="tab-body">
              <div
                v-if="activeTab == 1"
               >

                <!--<div class="tab1">雨雲レーダー</div>-->
                <div>

                    <div class="vue_radio">
                      <div class="tabs">

                        <input type="radio" class="radioButton" id="tab1" name="tab" value="1" v-model="isActive">
                        <label for="tab1" class="radioButtonLabel">SPAS</label>

                        <input type="radio" class="radioButton" id="tab2" name="tab" value="2" v-model="isActive">
                        <label for="tab2" class="radioButtonLabel">FSAS24</label>

                        <input type="radio" class="radioButton" id="tab3" name="tab" value="3" v-model="isActive">
                        <label for="tab3" class="radioButtonLabel">FSAS48</label>

                        <input type="radio" class="radioButton" id="tab4" name="tab" value="4" v-model="isActive">
                        <label for="tab4" class="radioButtonLabel">AUPQ78</label>

                        <input type="radio" class="radioButton" id="tab5" name="tab" value="5" v-model="isActive">
                        <label for="tab5" class="radioButtonLabel">AUPQ35</label>

                        <input type="radio" class="radioButton" id="tab6" name="tab" value="6" v-model="isActive">
                        <label for="tab6" class="radioButtonLabel">FXFE502</label>

                        <input type="radio" class="radioButton" id="tab7" name="tab" value="7" v-model="isActive">
                        <label for="tab7" class="radioButtonLabel">FXFE504</label>

                        <input type="radio" class="radioButton" id="tab8" name="tab" value="8" v-model="isActive">
                        <label for="tab8" class="radioButtonLabel">FXFE5782</label>

                        <input type="radio" class="radioButton" id="tab9" name="tab" value="9" v-model="isActive">
                        <label for="tab9" class="radioButtonLabel">FXFE5784</label>

                        <input type="radio" class="radioButton" id="tab10" name="tab" value="10" v-model="isActive">
                        <label for="tab10" class="radioButtonLabel">FXJP854</label>

                        <input type="radio" class="radioButton" id="tab11" name="tab" value="11" v-model="isActive">
                        <label for="tab11" class="radioButtonLabel">FEFE19</label>

                      </div>
                
                      <div id="chartUTC00">
                      <ul class="contents">
                        <li v-if="isActive === '1'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F014.png"  width="600px" height="600px"></li>
                        <li v-else-if="isActive === '2'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F019.png"  width="900px" height="750px"></li>
                        <li v-else-if="isActive === '3'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F042.png"  width="900px" height="750px"></li>
                        <li v-else-if="isActive === '4'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F038.png"  width="500px" height="700x"></li>
                        <li v-else-if="isActive === '5'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F040.png"  width="500px" height="700px"></li>
                        <li v-else-if="isActive === '6'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F030.png"  width="850px" height="700px"></li>
                        <li v-else-if="isActive === '7'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F032.png"  width="850px" height="700px"></li>
                        <li v-else-if="isActive === '8'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F034.png"  width="850px" height="700px"></li>
                        <li v-else-if="isActive === '9'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F036.png"  width="850px" height="700px"></li>
                        <li v-else-if="isActive === '10'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F026.png"  width="600px" height="700px"></li>
                        <li v-else-if="isActive === '11'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F190.png"  width="750px" height="700px"></li>
                      </ul>
                      </div>
                      

                      
                      <div id="chartUTC12">
                        <ul class="contents">
                          <li v-if="isActive === '1'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F014.png"  width="600px" height="600px"></li>
                          <li v-else-if="isActive === '2'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F020.png"  width="900px" height="750px"></li>
                          <li v-else-if="isActive === '3'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F043.png"  width="900px" height="750px"></li>
                          <li v-else-if="isActive === '4'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F039.png"  width="500px" height="700x"></li>
                          <li v-else-if="isActive === '5'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F041.png"  width="500px" height="700px"></li>
                          <li v-else-if="isActive === '6'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F031.png"  width="850px" height="700px"></li>
                          <li v-else-if="isActive === '7'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F033.png"  width="850px" height="700px"></li>
                          <li v-else-if="isActive === '8'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F035.png"  width="850px" height="700px"></li>
                          <li v-else-if="isActive === '9'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F037.png"  width="850px" height="700px"></li>
                          <li v-else-if="isActive === '10'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F027.png"  width="600px" height="700px"></li>
                          <li v-else-if="isActive === '11'"><img src= "https://s3-ap-northeast-1.amazonaws.com/idea.bioweather.net/current/rfax/F190.png"  width="750px" height="700px"></li>
                        </ul>
                      </div>
                    

                      

                    </div>
                
                  </div>



                <!--<iframe src= "https://www.jma.go.jp/bosai/rain/rain.html" width="1100px" height="1100px"></iframe>　-->
              </div>

              <div
                v-else-if="activeTab == 2"
               >

                <!-- <div class="tab2">TABコンテンツ2</div> -->
                
                <iframe src= "https://www.jma.go.jp/bosai/nowc/#zoom:5/lat:34.234512/lon:136.713867/colordepth:deep/elements:amds_rain10m&hrpns"  width="1000px" height="800px"></iframe>
              </div>

              <div
                v-else-if="activeTab == 3"
               >
                <!--<div class="tab3">TABコンテンツ3</div> -->
                <iframe src= "https://www.jma.go.jp/bosai/map.html#5/34.507/137.021/&elem=ir&contents=himawari"  width="1000px" height="800px"></iframe>
              </div>

              <div
                v-else-if="activeTab == 4"
               >
                <!--<div class="tab3">TABコンテンツ4</div> -->
                <div class="vue_radio">
                  <div class="tabs">

                    <input type="radio" class="radioButton" id="tab1" name="tab" value="12" v-model="isActive">
                    <label for="tab1" class="radioButtonLabel">SCW</label>

                    <input type="radio" class="radioButton" id="tab2" name="tab" value="13" v-model="isActive">
                    <label for="tab2" class="radioButtonLabel">GPV</label>


                  </div>
            
                  <ul class="contents">
                    <li v-if="isActive === '12'"><iframe src= "https://supercweather.com/"  width="1000px" height="750px"></iframe></li>
                    <li v-else-if="isActive === '13'"><iframe src= "http://weather-gpv.info/"  width="1000px" height="750px"></iframe></li>
                  </ul>
                </div>
            
              </div>

              

              <div
                v-else-if="activeTab == 5"
               >
                <!--<div class="tab3">TABコンテンツ5</div> -->

                <div class="form-name">
                  <h2>METAR検索</h2>
                  <!-- <input type="text" name="name" placeholder="ここに空港4レターを大文字で入力" v-model="name"> -->
                  <div id = "searchForm">
                    <v-text-field v-model="name" :rules="nameRules" :counter="4" label="ここに空港4レターコードを大文字で入力" required></v-text-field>
                  </div>
                  
                  <v-btn small dark rounded color="light-blue" v-on:click ="searchMETAR">表示する</v-btn>
                  <!-- <p>{{name}}</p >-->
                  <br>
                  <br>
                  <small>新しいタブで最新METARが表示されます。</small>
              </div>


                <!-- <div id="display_area1"></div> -->
                

              </div>

              <div
                v-else-if="activeTab == 6"
               >
                <!--<div class="tab3">TABコンテンツ5</div> -->

                <!-- 名前フォーム -->
                <div class="form-name">
                    <h2>空港検索</h2>
                    <!-- <input type="text" name="name" placeholder="ここに空港4レターを大文字で入力" v-model="name"> -->
                    <div id = "searchForm">
                      <v-text-field v-model="name" :rules="nameRules" :counter="4" label="ここに空港4レターコードを大文字で入力" required></v-text-field>
                    </div>
                    
                    <v-btn small dark rounded color="light-blue" v-on:click ="searchAirportForecast">表示する</v-btn>
                    <!-- <p>{{name}}</p >-->
                </div>

                <div id = "SwitchDisplay">
                  <v-btn x-small dark rounded color="light-green" v-on:click = "switchDisplay">part1・2切り替え</v-btn>
                </div>
                


                <div id="display_area2"></div>
                <div id="display_area3"></div>

              </div>

              <div
                v-else-if="activeTab == 7"
               >
               <img src ="https://www.data.jma.go.jp/airinfo/data/pict/low-level_sigwx/fbtk39.png">
                
              </div>

              <div
                v-else-if="activeTab == 8"
               >
                <iframe src="https://www.google.com/maps/d/embed?mid=17mZqdNeESYl2iyve6KntQp3vZkjWdILd&hl=ja&ehbc=2E312F" width="1000" height="800"></iframe>
                
              </div>

              
              


            </div>
           </v-container>
          </v-app>
        </div>

        <script>
            //飛行場時系列予報PART2を隠す
            const displayAera3 = document.getElementById('display_area3');
            displayAera3.style.display = "none";

            //飛行場時系列予報のPART1.2切り替えスイッチを最初は隠す
            const switch1 = document.getElementById('SwitchDisplay');
            switch1.style.display = "none";

            //utc時間表示
            function displayUtcTime(){
                      var time = new Date(); 
                      var monthUTC = time.getUTCMonth();
                      var dateUTC = time.getUTCDay();
                      var hourUTC = time.getUTCHours();
                      var miniutesUTC = time.getUTCMinutes();
                      //var utcTime = time.toUTCString();

                      var utcTime = hourUTC + "時" + miniutesUTC + "分" + "(UTC)";
                      console.log(utcTime);
                      document.getElementById("realtime").innerHTML = utcTime;
            }

            setInterval('displayUtcTime()',1000);

            
            

            function switchChart(){
                      var time = new Date(); 
                      var hourUTC = time.getUTCHours();
                      //hourUTC = 13; //【!!!!CAUTION!!!!】テスト用の代入
                      console.log(hourUTC);
                      const chart00 = document.getElementById('chartUTC00');
                      const chart12 = document.getElementById('chartUTC12');

                      if (hourUTC < 12){
                        chart00.style.display = "block";
                        chart12.style.display = "none";
                      }else if(12 < hourUTC < 24){
                        chart00.style.display = "none";
                        chart12.style.display = "block";
                      }
                      
            }

            switchChart();


            new Vue({
                el: "#app",
                vuetify: new Vuetify(),
                data: {
                    activeTab: 1,
                    isActive: '1',
                    name: '',
                    nameRules: [
                      v => !!v || 'Airport Code is required',
                      v => v.length <= 4 || 'Name must be less than 4 characters',
                    ],
                },
                methods: {
                    tabChange(id) {
                      this.activeTab = id
                    },

                    searchMETAR(){
                        var urlMETAR = "https://tgftp.nws.noaa.gov/data/observations/metar/stations/" + this.name + ".TXT"
                        console.log(urlMETAR);
                        window.open(urlMETAR, '_blank');
                    },

                    searchAirportForecast(){
                        var url = "https://www.data.jma.go.jp/airinfo/data/pict/taf/QMCD98_" + this.name + ".png";
                        console.log(url);
                        var htmlTemplate2 = `<img src ="` + url + `"  >`;
                        console.log(htmlTemplate2);
                        document.getElementById('display_area2').innerHTML = htmlTemplate2 ;

                        var urlPart2 = "https://www.data.jma.go.jp/airinfo/data/pict/taf/QMCJ98_" + this.name + ".png";
                        console.log(urlPart2);
                        var htmlTemplate3 = `<img src ="` + urlPart2 + `"  >`;
                        console.log(htmlTemplate3);
                        document.getElementById('display_area3').innerHTML = htmlTemplate3 ;
                        //const displayAera3 = document.getElementById('display_area3');
                        //displayAera3.style.display = "none";
                        const switch2 = document.getElementById('SwitchDisplay');
                        switch2.style.display = "block";

                    },

                    /*
                    searchAirportForecastPart2(){
                        var urlPart2 = "https://www.data.jma.go.jp/airinfo/data/pict/taf/QMCJ98_" + this.name + ".png";
                        console.log(urlPart2);
                        var htmlTemplate3 = `<img src ="` + urlPart2 + `"  >`;
                        console.log(htmlTemplate3);
                        document.getElementById('display_area3').innerHTML = htmlTemplate3 ;
                    },
                    */
                    
                    switchDisplay(){
                        const part1 = document.getElementById('display_area2');
                        const part2 = document.getElementById('display_area3');

                        if(part1.style.display == "block"){
                            part1.style.display = "none";
                            part2.style.display = "block";
                        }else {
                            part1.style.display = "block";
                            part2.style.display = "none";
                        }

                    },

                }
            })


        </script>


        </body>
</html>
